# directories
data/raw/
data/reference/
data/simulated/
results/*/*/rpca_feature_matrices/
*rpca_feat_mat.csv
*old/
rpca_cooc_benchmarking.egg-info/
scripts/out/*
scripts/sync_*
.snakemake/
*__pycache__/
*.ipynb_checkpoints/

# Vim files
*.swp

*.DS_Store
